<div class="container">

    <form role="form">
        <div class="row">
            <div class="col-md-12" style="padding-left: 28px">
                <div class="input-group input-group-lg">
                    <input type="text" class="form-control"/>

                    <div class="input-group-btn">
                        <button type="submit" class="btn">Search</button>
                    </div>
                    <!-- /btn-group -->
                </div>
                <!-- /input-group -->
            </div>
            <!-- /.col-xs-12 -->
        </div>
        <!-- /.row -->
    </form>


    <div id="job-listings" class="ie-container-main">
        <div class="mg jobs-list">
            <div class="mg-row">
                <div class="mg-col jobs-list">
                    <!--<div class="col-md-12">-->
                    <!--&lt;!&ndash;<form>&ndash;&gt;-->
                    <!--<input type="text" placeholder="Search..." required>-->
                    <!--<input type="button" value="Search">-->
                    <!--&lt;!&ndash;</form>&ndash;&gt;-->

                    <!--</div>-->


                    <div class="col-md-3 col-sm-4 hidden-xs no-padding-small">
                        <div class="job-filters">
                            <div class="filter-header">
                                <h1><i class="mdi-device-access-alarm"></i>
                                    Schedule
                                </h1>
                            </div>
                            <div class="filter-content">

                                <div class="form-group pop-input-wrapper">


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Full Time">

                                    <label class="md-checkbox-label material-checkbox-label" for="Full Time">Full
                                        Time</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Part Time">

                                    <label class="md-checkbox-label material-checkbox-label" for="Part Time">Part
                                        Time</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Temporary / Seasonal">

                                    <label class="md-checkbox-label material-checkbox-label" for="Temporary / Seasonal">Temporary
                                        / Seasonal</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Exempt">

                                    <label class="md-checkbox-label material-checkbox-label" for="Exempt">Exempt</label>

                                </div>
                            </div>


                            <div class="filter-header">
                                <h1><i class="mdi-social-location-city"></i>Industries</h1>
                            </div>
                            <div class="filter-content">

                                <div class="form-group pop-input-wrapper">


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Accounting/Finance">

                                    <label class="md-checkbox-label material-checkbox-label" for="Accounting/Finance">Accounting/Finance</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Admin/Office">

                                    <label class="md-checkbox-label material-checkbox-label"
                                           for="Admin/Office">Admin/Office</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Architect/Engineer/CAD">

                                    <label class="md-checkbox-label material-checkbox-label"
                                           for="Architect/Engineer/CAD">Architect/Engineer/CAD</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Art/Media/Design">

                                    <label class="md-checkbox-label material-checkbox-label" for="Art/Media/Design">Art/Media/Design</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Business/Management">

                                    <label class="md-checkbox-label material-checkbox-label" for="Business/Management">Business/Management</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Customer service">

                                    <label class="md-checkbox-label material-checkbox-label" for="Customer service">Customer
                                        service</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Education/Teaching">

                                    <label class="md-checkbox-label material-checkbox-label" for="Education/Teaching">Education/Teaching</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Food/Beverage">

                                    <label class="md-checkbox-label material-checkbox-label" for="Food/Beverage">Food/Beverage</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="General labor">

                                    <label class="md-checkbox-label material-checkbox-label" for="General labor">General
                                        labor</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Government">

                                    <label class="md-checkbox-label material-checkbox-label"
                                           for="Government">Government</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Healthcare">

                                    <label class="md-checkbox-label material-checkbox-label"
                                           for="Healthcare">Healthcare</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Hospitality">

                                    <label class="md-checkbox-label material-checkbox-label"
                                           for="Hospitality">Hospitality</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Human resources">

                                    <label class="md-checkbox-label material-checkbox-label" for="Human resources">Human
                                        resources</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Internet engineering">

                                    <label class="md-checkbox-label material-checkbox-label" for="Internet engineering">Internet
                                        engineering</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Legal/paralegal">

                                    <label class="md-checkbox-label material-checkbox-label" for="Legal/paralegal">Legal/paralegal</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Manufacturing">

                                    <label class="md-checkbox-label material-checkbox-label" for="Manufacturing">Manufacturing</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Marketing/Advertising/PR">

                                    <label class="md-checkbox-label material-checkbox-label"
                                           for="Marketing/Advertising/PR">Marketing/Advertising/PR</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Nonprofit">

                                    <label class="md-checkbox-label material-checkbox-label"
                                           for="Nonprofit">Nonprofit</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Real estate">

                                    <label class="md-checkbox-label material-checkbox-label" for="Real estate">Real
                                        estate</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Retail/Wholesale">

                                    <label class="md-checkbox-label material-checkbox-label" for="Retail/Wholesale">Retail/Wholesale</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Sales">

                                    <label class="md-checkbox-label material-checkbox-label" for="Sales">Sales</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Salon/Spa/Fitness">

                                    <label class="md-checkbox-label material-checkbox-label" for="Salon/Spa/Fitness">Salon/Spa/Fitness</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Science/Biotech">

                                    <label class="md-checkbox-label material-checkbox-label" for="Science/Biotech">Science/Biotech</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Security">

                                    <label class="md-checkbox-label material-checkbox-label"
                                           for="Security">Security</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Skilled trades/Artisan">

                                    <label class="md-checkbox-label material-checkbox-label"
                                           for="Skilled trades/Artisan">Skilled
                                        trades/Artisan</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Software/QA/DBA/etc">

                                    <label class="md-checkbox-label material-checkbox-label" for="Software/QA/DBA/etc">Software/QA/DBA/etc</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Systems/Networking">

                                    <label class="md-checkbox-label material-checkbox-label" for="Systems/Networking">Systems/Networking</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Technical support">

                                    <label class="md-checkbox-label material-checkbox-label" for="Technical support">Technical
                                        support</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Transportation">

                                    <label class="md-checkbox-label material-checkbox-label" for="Transportation">Transportation</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="TV/Film/Video/Radio">

                                    <label class="md-checkbox-label material-checkbox-label" for="TV/Film/Video/Radio">TV/Film/Video/Radio</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Web/HTML/Info design">

                                    <label class="md-checkbox-label material-checkbox-label" for="Web/HTML/Info design">Web/HTML/Info
                                        design</label>


                                    <input type="checkbox" class="filled-in btn-checkbox" id="Writing/Editing">

                                    <label class="md-checkbox-label material-checkbox-label" for="Writing/Editing">Writing/Editing</label>


                                </div>


                            </div>


                        </div>
                    </div>

                    <div class="col-xs-12 no-padding-small col-md-9 col-sm-8">
                        <section class="md">
                            <div class="card-column">
                                <div class="card-component">
                                    <div class="card white full-width animated fadeIn">
                                        <div class="card-header-container">
                                        </div>
                                        <div class="">
                                            <ul></ul>
                                        </div>
                                        <div class="card-footer-container">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="list-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


