<div class="container">
    <form role="form">
        <div class="row">
            <div class="input-group input-group-lg col-md-11" style="padding-left: 28px;align-content: center">
                <span class="input-group-addon"><i class="fa fa-search fa-lg"></i></span>
                <input class="form-control" ng-model="searchText" type="text" placeholder="search">
            </div>
        </div>
    </form>
    <div id="job-listings" class="ie-container-main">
        <div class="mg jobs-list">
            <div class="mg-row">
                <div class="mg-col jobs-list">
                    <div class="col-md-3 col-sm-4 hidden-xs no-padding-small">
                        <div class="job-filters">
                            <div class="filter-header">
                                <h1><i class="mdi-device-access-alarm"></i>
                                    Job Type
                                </h1>
                            </div>
                            <div class="filter-content container-fluid">
                                <div class="row-fluid form-group pop-input-wrapper">

                                    <div class="filterCheckBox">
                                        <label for="fullTimeEntry" class="checkbox">
                                            <input type="checkbox" ng-model="checkboxes.EntryLevel"
                                                   ng-click="expLevelFunc()" id="fullTimeEntry"
                                                   class="checkbox checkbox-success">Full-time(Entry
                                            Level)
                                        </label>
                                    </div>
                                    <div class="filterCheckBox">
                                        <label for="fullTimeExp" class="checkbox">
                                            <input type="checkbox" ng-model="checkboxes.Experienced"
                                                   ng-click="expLevelFunc()" id="fullTimeExp" class="checkbox">Full-time(Experienced)
                                        </label>
                                    </div>

                                    <div class="filterCheckBox">
                                        <label for="internship" class="checkbox">
                                            <input type="checkbox" ng-model="checkboxes.Internship"
                                                   ng-click="expLevelFunc()" id="internship" class="checkbox">Intern
                                        </label>
                                    </div>

                                </div>
                            </div>
                            <div class="filter-header">
                                <h1><i class="mdi-social-location-city"></i>Primary Role</h1>
                            </div>
                            <div class="filter-content">
                                <div class="form-group pop-input-wrapper">

                                    <div ng-repeat="role in roles" class="standard" flex="10git0">
                                        <label>
                                            <input type="checkbox" ng-click="toggle(role, selected)">
                                            {{ role }}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 no-padding-small col-md-9 col-sm-8">
                        <section class="md">
                            <div class="card-column">
                                <div class="card-component">
                                    <div class="card white full-width animated fadeIn">
                                        <div class="card-header-container">

                                        </div>
                                        <div class="">
                                            <ul></ul>
                                        </div>
                                        <div class="row">
                                            <div ng-repeat="job in joblist | filter:searchText">
                                                <div class="panel2 panel-default">
                                                    <div class="panel-body">

                                                        <div class="row">
                                                            <div class="col-xs-4 col-sm-8">
                                                                <a href="/jobdetails/{{job._id}}">{{job.job.jobTitle}}</a>
                                                            </div>
                                                            <div class="col-xs-8 col-sm-4 text-right">
                                                                    <span class="label label-success label-marigin">
                                                                      <i class="fa fa-clock-o">
                                                                          {{job.job.expLevel}}
                                                                      </i>
                                                                    </span>
                                                                <span class="label label-danger"><i
                                                                        class="fa fa-globe"></i>{{job.job.primaryRole}}</span>
                                                            </div>
                                                        </div>

                                                        <div class="row">
                                                            <div class="col-xs-6 col-sm-7">
                                                                <i class="fa fa-map-marker"></i>
                                                                {{job.job.companyName}}-
                                                                <span>{{job.job.jobCity}},
                                                                {{job.job.jobState}}
                                                                </span>
                                                            </div>
                                                            <div class="col-xs-6 col-sm-5 text-right text-add-padding-top">
                                                                <i class="fa fa-calendar"></i>
                                                                {{job.createdAt | date:'MM/dd/yyyy'}}

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                        <div class="list-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


