<div class="container">
    <div class="jumbotron">
        <div class="text-center container-fluid">
            <div class="row">
                <p>
                    The premier job board and developer community space for recent grads.
                </p>
            </div>


            <div class="row">
                <br>
                <iframe src="//platform.twitter.com/widgets/follow_button.html?screen_name=GradHire&amp;size=l&amp;show_count=false"
                        style="align-content: center; width: 185px; height: 28px;" allowtransparency="true" frameborder="0" scrolling="no">
                </iframe>
                <br><br>
            </div>


            <div class="row">
                <p>
                    15 Minutes Could Get You 15 Job Offers from Top Tech Companies
                </p>

                <p>
                    Salaries from $85,000 to $180,000
                </p>
            </div>
        </div>
    </div>
</div>






<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <section id="jobsRecent">

                <div class="row">
                    <div class="col-sm-4">
                        <h2>Recent Jobs</h2>
                    </div>
                </div>

                <div ng-repeat="job in joblist">
                    <div class="panel panel-default">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-9">
                                    <a href="/jobdetails/{{job._id}}">{{job.job.jobTitle}} @ {{job.job.company}}</a>
                                </div>
                                <div class="col-sm-3 text-right">
                <span class="label label-default">
                  <i class="fa fa-clock-o">
                      {{job.job.expLevel}}
                  </i>
                </span>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <i class="fa fa-calendar"></i>
                                    {{job.createdAt | date:'MM/dd/yyyy'}}

                                </div>
                                <div class="col-sm-6 text-right">
                                    <i class="fa fa-map-marker"></i>
                                    {{job.job.jobCity}} -
                                    {{job.job.jobState}}

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
</div>


<!--

<form ng-show="$root.currentUser">
  <label>Name</label>
  <input ng-model="newParty.name">
  <label>Description</label>
  <input ng-model="newParty.description">
  <label>Public</label>
  <input type="checkbox" ng-model="newParty.public">
  <button ng-click="newParty.owner=$root.currentUser._id; parties.push(newParty)">Add</button>
  <button ng-click="removeAll()">Remove All</button>
</form>





<div ng-hide="$root.currentUser || $root.loggingIn">
  Log in to create a party!
</div>
<ul>
  <h1>Parties:</h1>
  <div>
    <input type="search" ng-model="search" placeholder="Search">
    <select ng-model="orderProperty">
      <option value="1">Ascending</option>
      <option value="-1">Descending</option>
    </select>
  </div>
  <li dir-paginate="party in parties | itemsPerPage: perPage" total-items="partiesCount.count">
    <a href="/parties/{{party._id}}">{{party.name}}</a>
    <p>{{party.description}}</p>
    <button ng-click="remove(party)" ng-show="$root.currentUser && $root.currentUser._id == party.owner">X</button>

    <div ng-show="$root.currentUser">
      <input type="button" value="I'm going!" ng-click="rsvp(party._id, 'yes')">
      <input type="button" value="Maybe" ng-click="rsvp(party._id, 'maybe')">
      <input type="button" value="No" ng-click="rsvp(party._id, 'no')">
    </div>
    <div ng-hide="$root.currentUser">
      <i>Sign in to RSVP for this party.</i>
    </div>

    <div>
      Who is coming:
      Yes - {{ (party.rsvps | filter:{rsvp:'yes'}).length }}
      Maybe - {{ (party.rsvps | filter:{rsvp:'maybe'}).length }}
      No - {{ (party.rsvps | filter:{rsvp:'no'}).length }}
      <div ng-repeat="rsvp in party.rsvps | filter:{rsvp:'yes'}">
        {{ getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
      </div>
      <div ng-repeat="rsvp in party.rsvps | filter:{rsvp:'maybe'}">
        {{ getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
      </div>
      <div ng-repeat="rsvp in party.rsvps | filter:{rsvp:'no'}">
        {{ getUserById(rsvp.user) | displayName }} - {{ rsvp.rsvp }}
      </div>
    </div>

    <ul ng-if="!party.public">
      Users who not responded:
      <li ng-repeat="invitedUser in outstandingInvitations(party)">
        {{dstache}} invitedUser | displayName }}
      </li>
    </ul>
    <div ng-if="party.public">
      Everyone is invited
    </div>

    <p><small>Posted by {{ creator(party) | displayName }}</small></p>
  </li>
</ul>
<dir-pagination-controls on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>-->
